/*general website layout*/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63, 63, 63);
}

body {
    width: 80%;
    background-color: rgb(255, 215, 170);
    margin: 1% 10%;
    border: 2px solid rgb(255, 215, 170);
    border-radius: 5px;
}

/*headline, description*/

header {
    text-align: center;
}

/*navigation bar*/

nav {
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
}

.navbar li {
    display: inline;
    border: 2px solid rgb(255, 215, 170);
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 0 1%;
    padding: 0.2rem;
}

.current {
    background-color:  rgb(255, 215, 170);
}

/*calculation area*/

#calcfield {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.15rem;
}

#output {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.35rem;
}